<div class="row">
    
    <div class="col-md-12">
        <div class="content centered animated fadeIn">
            <h1 class="animated fadeInUp">Contact Us</h1>
            <div class="content-news">
                <p>We love to hear your thoughts about Classic Gold.</p>
                
                <p>You can contact us via <a href="mailto:info@classicgold.ca">email</a> or by visiting our <a target="_blank" href="https://www.facebook.com/classicgoldhd/">facebook</a> page.</p>
                
                <p> Thank you!</p>

            </div>
        </div>
    </div>

</div>
