<div class="row">
    
    <div class="col-md-12">
        <div class="content centered animated fadeIn">
            <h1 class="animated fadeInUp">Classic Gold is back!</h1>
            <div class="content-text">
                <p><img src="../img/oldradio.jpg">Classic Gold broadcasts from Toronto, Canada. We are playing only the best music from the 60s, 70s, 80s, and 90s. Great DJs, unforgettable tunes, good old time radio. This is Classic Gold! You can listen to our station 24/7 either through www.classicgold.ca or the TuneIn app.</p>
                <div style="clear:both"></div>
            </div>
        </div>
        
    </div>
    

</div>
